.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
}

.login-form {
    background-color: white;
    padding: 2rem;
    width: 300px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    font-size: 25px;
    margin-bottom: 40px;
    

}

.error {
    color: red;
    font-size: 15px;
    display: flex;
    padding: 0px 20px;
    justify-content: left;

}

.success {
    color: green;
    font-size: 15px;
    display: flex;
    padding: 0px 20px;
    justify-content: left;
}


